:root {
  /* PRIMARY COLORS */
  --Gold-500: hsl(31, 77%, 52%);
  --Cyan-800: hsl(184, 100%, 22%);
  --Green-950: hsl(179, 100%, 13%);

  /* NEUTRAL COLORS */
  --Transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --Gray-100: hsl(0, 0%, 95%); /* background, headings, buttons */

  /* WEIGHTS */
  --weight-400: 400;
  --weight-700: 700;

  /* FAMILY */
  --Lexend-Deca: "Lexend Deca";
  --Big-Shoulders: "Big Shoulders";

  /* FONT */
  --font-size-15px: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-15px);
}

.main {
  display: flex;
  /* flex-direction: column; */
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  /* border-radius: 13px; */
}

.section {
  display: grid;
  /* border: 0.5px solid black; */
  row-gap: 15px;
  width: 281px;
  height: 350px;
  padding: 25px;
}

.section-sedans {
  background-color: var(--Gold-500);
  border-radius: 13px 0 0 13px;
}
.section-suvs {
  background-color: var(--Cyan-800);
}
.section-luxury {
  background-color: var(--Green-950);
  border-radius: 0 13px 13px 0;
}

.icon {
  /* margin-top: 15px; */
}

.heading {
  color: var(--Gray-100);
  font-size: 35px;
  text-transform: uppercase;
  font-family: var(--Big-Shoulders), sans-serif;
  font-weight: var(--weight-700);
}

.paragraph {
  color: var(--Transparent-white);
  line-height: 1.5;
}

.paragraph,
.btn {
  font-family: var(--Lexend-Deca), sans-serif;
  font-weight: var(--weight-400);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 0.5px solid black; */
  width: 140px;
  border-radius: 35px;
  text-transform: capitalize;
  height: 50px;
  background-color: var(--Gray-100);
  text-decoration: none;
}

.btn-text-sedans {
  color: var(--Gold-500);
}
.btn-text-suvs {
  color: var(--Cyan-800);
}
.btn-text-luxury {
  color: var(--Green-950);
}

@media (max-width: 830px) {
  .main {
    flex-direction: column;
  }

  .section-sedans {
    border-radius: 13px 13px 0 0;
  }

  .section-luxury {
    border-radius: 0 0 13px 13px;
  }
}
