:root {
  /* PRIMARY COLORS */
  --Gold-500: hsl(31, 77%, 52%);
  --Cyan-800: hsl(184, 100%, 22%);
  --Green-950: hsl(179, 100%, 13%);

  /* NEUTRAL COLORS */
  --Transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --Gray-100: hsl(0, 0%, 95%); /* background, headings, buttons */

  /* WEIGHTS */
  --weight-400: 400;
  --weight-700: 700;

  /* FAMILY */
  --Lexend-Deca: "Lexend Deca";
  --Big-Shoulders: "Big Shoulders";

  /* FONT */
  --font-size-15px: 0.9rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size-15px);
}

.main {
  display: flex;
  block-size: 100vh;
  justify-content: center;
  align-items: center;
}

/* DESKTOP */
.section {
  display: grid;
  row-gap: 1.6rem;
  inline-size: 19rem;
  padding: 1.6rem;
  padding-block: 2.8rem;
  padding-inline: 35px;
}

.section-sedans {
  background-color: var(--Gold-500);
  border-radius: 0.7rem 0 0 0.7rem;
}
.section-suvs {
  background-color: var(--Cyan-800);
}
.section-luxury {
  background-color: var(--Green-950);
  border-radius: 0 0.7rem 0.7rem 0;
}

.heading {
  color: var(--Gray-100);
  font-size: clamp(2rem, 5vw, 2.3rem);
  text-transform: uppercase;
  font-family: var(--Big-Shoulders), sans-serif;
  font-weight: var(--weight-700);
}

.paragraph {
  color: var(--Transparent-white);
  line-height: 1.6;
  padding-block: 0 4.5rem;
}

.paragraph,
.btn {
  font-family: var(--Lexend-Deca), sans-serif;
  font-weight: var(--weight-400);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 9.3rem;
  border-radius: 2.3rem;
  text-transform: capitalize;
  block-size: 3.3rem;
  background-color: var(--Gray-100);
  text-decoration: none;
  transition: 0.5s;
}

.btn-text-sedans {
  color: var(--Gold-500);
}

.btn-text-suvs {
  color: var(--Cyan-800);
}

.btn-text-luxury {
  color: var(--Green-950);
}

.btn:hover {
  background-color: var(--Transparent-white);
  color: black;
}

/* MOBILE */
@media (max-width: 55.3rem) {
  .main {
    flex-direction: column;
  }

  .section {
    row-gap: 1rem;
    inline-size: 18.7rem;
    padding-block: 1.6rem;
  }

  .icon {
    padding-block: 0;
  }

  .paragraph {
    padding-block: 0;
  }

  .section-sedans {
    border-radius: 0.7rem 0.7rem 0 0;
  }

  .section-luxury {
    border-radius: 0 0 0.7rem 0.7rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
